@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 17px;
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
