---
interface Props {
  title: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props;
---
<div class="text-center mb-10">
  <h2 class="text-2xl lg:text-3xl font-extrabold text-gray-900 mb-3">{title}</h2>
  {subtitle && <p class="text-gray-500 max-w-xl mx-auto text-sm">{subtitle}</p>}
</div>
